* {
  font-family: "Noto Sans Math", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: dimgray;
  border-radius: 12px;
  height: 720px;
  width: 480px;
  border: 8px solid black;
}

#display {
  background-color: grey;
  flex: 1 1 480px;
  height: 120px;
  border-radius: 6px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  font-size: 60px;
}

#interface {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 1 120px;
  height: 120px;
  font-size: 40px;
  border: 2px solid black;
}

button[data-key="0"] {
  flex-basis: 240px;
}

.number {
  background-color: dimgray;
  color: white;
}

.operator {
  background-color: orange;
  color: white;
}
